#menu{
    margin: 0 0 10px 0;
    background:black;
    
}

#menu div{
    display:inline-block;
    padding: 5px 10px;
    cursor:pointer;
    border: 1px solid transparent;
}

#menu a:hover{
    color:darkslateblue;
}

#menu .actif{
    border: 1px solid greenyellow;
}
